<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		
	<meta charset ="utf-8"/>
	<script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/utils.js}"></script>
	<script type="text/javascript" th:src="@{/js/RegistParking.js}"></script>
	
<!--   ブラウザのタイトル　-->
	</head>
	
	<body>
		
		<!--   遷移先とオブジェクト名は仮定　-->
		<form id="editParkingform" method ="post" th:action ="@{/EditParking/put}" th:object="${form}">
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{updateDate}" id="updateDate" />
			<div>
				<label>
					<select th:field="*{address1}" id="id_address1" required>
<!--				<select id="id_address1" name="address1" required>-->
				<option value="" disabled selected>プルダウン：都道府県選択</option>
				</select><br>
				</label>
			</div>
			
			<div>
				<label>
					市区町村 : <input th:field="*{address2}" id="address2" required/>
				</label>
			</div>
			
			<div>
				<label>
					丁目 : <input th:field="*{address3}"id="address3" required/>
				</label>
			</div>
			
			<div>
				<label>
					駐車場名 : <input th:field="*{name}" id="name" required/>
				</label>
			</div>
			
			<div>
				<label>
					収容台数 :<input th:field="*{capacity}" id="capacity" required/>
				</label>
			</div>
			
			<div>
				<label>
					１時間当たりの料金 : <input th:field="*{hourlyRate}" id="hourlyRate" required/>
				</label>
			</div>

			
			
            <button type="button" id="submitBtn">更新</button>
			<!-- <button type="submit" onclick ="alertClick()">登録</button> -->
	
		</form>
		
		<form>
			
			<button type="button" onclick="location.href='/HomeAdmin'">戻る</button>
			
		</form>

		

            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const form = document.getElementById("editParkingform");
					
					const today = new Date().toISOString().split('T')[0];
					document.getElementById("updateDate").value = today;
					
					
                  document.getElementById("submitBtn").addEventListener("click", function () {
                if (!form.checkValidity()) {
                    form.reportValidity(); // ← ここでブラウザの警告（吹き出し）が出る
                return;
                }
                    const address1 = document.getElementById("id_address1").value;
                    const address2 = document.getElementById("address2").value;
                    const address3 = document.getElementById("address3").value;
                    const name = document.getElementById("name").value;
                    const capacity = document.getElementById("capacity").value;
                    const hourlyRate = document.getElementById("hourlyRate").value;
            
                    const message = `この内容で登録しますか？\n\n県名: ${address1}\n市町村: ${address2}\n丁目: ${address3}\n駐車場名: ${name}\n収容台数: ${capacity}\n１時間当たりの料金: ${hourlyRate}`;
            
                    const result = confirm(message);
                    if (result) {
                      document.getElementById("editParkingform").requestSubmit();
                    }
                  });
                });
				
             </script> 
	</body>
</html>