<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/css/BaseAdmin.css">
	<link rel="stylesheet" href="/css/HomeAdmin.css">
	<script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/utils.js}"></script>
	<script type="text/javascript" th:src="@{/js/HomeAdmin.js}"></script>
</head>

<body>
	<!--ホームアイコン：全ページ共通-->
	<header>
		<a href="/HomeAdmin" class="header-link">
			<img src="/img/icon.png" alt="アイコン">
			<span class="header-title">ParkingLot / 管理者</span>
		</a>
	</header>
	
	<main>
		<div class="page-title">ホーム</div>
			
		<!--検索窓-->
		<div class="input-block">
			<input type="text" id="id_name" placeholder="検索窓：名称">
			<select id="id_address1" name="address1">
		    	<option value="">プルダウン：都道府県選択</option>
		 	</select>
		</div>
		
		<!--エラーメッセージ-->
		<div id="id_errorMsg" style="color: red;"></div>
		
		<!--検索ボタン-->
		<div class="search-buttons">
		  <input type="button" id="id_searchAll" value="一覧表示">
		  <input type="button" id="id_search" value="検索">
		</div>
		
		<div style="position: relative; width: 100%; max-width: 1200px;">
		  <form th:action="@{/RegistParking}" method="get" style="position: absolute; right: 0; top: -3em;">
		    <input type="submit" value="新規" class="button-new">
		  </form>
		</div>

		<div id="resultList"></div>
	</main>
</body>
</html>