<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<script type="text/javascript" th:src="@{js/jquery-3.7.1.min.js}"></script>
	<script>
		// 画面のready()の時にボタンにイベントを追加する
		$(document).ready(() =>{
			$('#id_search').click(function(){
				
				var url = "/demourl";
				url += '?name=' + $('#id_name').val();
				url += '&address1=' + $('#id_address1').val();
				var result = [
				  {
				    "id": 1,
				    "address1": "東京都",
				    "address2": "品川区",
				    "address3": "西五反田2丁目",
				    "name": "park本社駐車場",
				    "capacity": 100,
				    "hourlyRate": 500,
				    "updateDate": "2025-07-15"
				  },
				  {
				    "id": 2,
				    "address1": "東京都",
				    "address2": "渋谷区",
				    "address3": "道玄坂1丁目",
				    "name": "渋谷センター駐車場",
				    "capacity": 60,
				    "hourlyRate": 600,
				    "updateDate": "2025-07-14"
				  },
				  {
				    "id": 3,
				    "address1": "神奈川県",
				    "address2": "横浜市西区",
				    "address3": "みなとみらい3丁目",
				    "name": "横浜みなと駐車場",
				    "capacity": 120,
				    "hourlyRate": 550,
				    "updateDate": "2025-07-13"
				  },
				  {
				    "id": 4,
				    "address1": "大阪府",
				    "address2": "大阪市北区",
				    "address3": "梅田1丁目",
				    "name": "梅田パーキング",
				    "capacity": 80,
				    "hourlyRate": 400,
				    "updateDate": "2025-07-10"
				  },
				  {
				    "id": 5,
				    "address1": "愛知県",
				    "address2": "名古屋市中村区",
				    "address3": "名駅3丁目",
				    "name": "名駅前駐車場",
				    "capacity": 90,
				    "hourlyRate": 450,
				    "updateDate": "2025-07-12"
				  }
				];
				makeParkingList(result);
				console.log(url);
				console.log("実行");
				/*
				fetch(url)
				.then((response) => {
					console.log(response);
					$("#result").text("GET成功_res");
					return response.json();
				})
				.then((result) => {
					console.log(result);
					makeItemList(result);
					$("#result").text("GET成功_data");
				});
				*/
			});
			$('#resultList').on("click", ".class_delete", function(){
				if (!confirm('本当に削除しますか？')) {
				  return; // キャンセルなら処理中断
				}
				var url = "/demourl";
				console.log("削除");
				
				var data = {
					'id' : $(this).data('id')
				}
				var option = {
					method : 'DELETE',
					headers : {
						'Content-Type' : 'application/json',
						'Accept' : 'application/json'
					},
					body : JSON.stringify( data )
				};

				fetch(url, option)
				.then(response => {
					if (!response.ok) throw new Error('削除に失敗しました');
				})
			});
		});
	</script>
</head>

<body>
	<input type="text" id="id_name" placeholder="検索窓：名称"><br>
	<select id="id_address1" name="address1">
		<option value="" disabled selected>プルダウン：都道府県選択</option>
	</select><br>
	<input type="button" id="id_search" value="検索"></input><br>
	<div id="resultList"></div>

	<script>
		//都道府県のプルダウンを生成
		const prefectures = [
			"北海道", "青森県", "岩手県", "宮城県", "秋田県", "山形県", "福島県",
			"茨城県", "栃木県", "群馬県", "埼玉県", "千葉県", "東京都", "神奈川県",
			"新潟県", "富山県", "石川県", "福井県", "山梨県", "長野県",
			"岐阜県", "静岡県", "愛知県", "三重県",
			"滋賀県", "京都府", "大阪府", "兵庫県", "奈良県", "和歌山県",
			"鳥取県", "島根県", "岡山県", "広島県", "山口県",
			"徳島県", "香川県", "愛媛県", "高知県",
			"福岡県", "佐賀県", "長崎県", "熊本県", "大分県", "宮崎県", "鹿児島県", "沖縄県"
		];

		const select = document.getElementById("id_address1");
		prefectures.forEach(pref => {
			const option = document.createElement("option");
			option.value = pref;
			option.textContent = pref;
			select.appendChild(option);
		});
	</script>
	<script>
		function makeParkingList(parkingList){
			$("#resultList").empty();
			var $list = $('<table border="1"></table>');
			$list.append('<tr><th>住所1</th><th>住所2</th><th>住所3</th><th>名前</th><th>台数</th><th>料金</th><th>更新日</th><th></th><th></th></tr>');

			$.each(parkingList, function(index, parking){
				const row = `
					<tr>
						<td>${parking.address1}</td>
						<td>${parking.address2}</td>
						<td>${parking.address3}</td>
						<td>${parking.name}</td>
						<td>${parking.capacity}</td>
						<td>${parking.hourlyRate}</td>
						<td>${parking.updateDate}</td>
						<td>
							<form action="/EditParking/${parking.id}" method="get">
								<input type="submit" value="編集">
							</form>
						</td>
						<td>
							<input type="submit" class="class_delete" data-id="${parking.id}" value="削除">
						</td>
					</tr>
				`;
				
				$list.append(row);
			});
			$('#resultList').append($list);
		}
	</script>
</body>

</html>