<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/css/BaseUser.css">
	<link rel="stylesheet" href="/css/Home.css">
	<script type="text/javascript" th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/utils.js}"></script>
	<script type="text/javascript" th:src="@{/js/Home.js}"></script>
</head>

<body>
	<!--Webタイトル-->
	<div class="header">
		<img src="/img/icon.png" alt="アイコン">
		<div class="header-title">ParkingLot</div>
	</div>

	<div class="page-title">ホーム</div>

	<!-- 検索窓 -->
	<div class="input-block">
	    <input type="text" id="id_name" placeholder="検索窓：名称">
	    <select id="id_address1" name="address1">
	        <option value="">プルダウン：都道府県選択</option>
		</selec>
	</div>

	<!-- エラーメッセージ -->
	<div id="id_errorMsg" style="color: red;"></div>

	<!-- 検索ボタン -->
	<div class="search-buttons">
	 	<input type="button" id="id_searchAll" value="一覧表示">
		<input type="button" id="id_search" value="検索">
	</div>

	<div id="resultList"></div>
</body>

</html>