<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		
	<meta charset ="utf-8"/>

	</head>
	
	
	<body>
		<div>
			都道府県名:　<span th:text="${form.}"
		</div>

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		

		<div>
			<label>
				市区町村 : <input th:field="*{address2}" id="address2" required/>
			</label>
		</div>

		<div>
			<label>
				丁目 : <input th:field="*{address3}"id="address3" required/>
			</label>
		</div>

		<div>
			<label>
				駐車場名 : <input th:field="*{name}" id="name" required/>
			</label>
		</div>

		<div>
			<label>
				収容台数 :<input th:field="*{capacity}" id="capacity" required/>
			</label>
		</div>

		<div>
			<label>
				１時間当たりの料金 : <input th:field="*{hourlyRate}" id="hourlyRate" required/>
			</label>
		</div>
		
	</body>
	